.about {
  main.content {
    position: relative;
    grid-template-columns: 1fr;
    .home-content {
      @include set-flex(center, center, column);
      &__body {
        text-align: center;
        line-height: 1.5em;
      }
    }
    &::before {
      position: absolute;
      content: url("../img/gambarAbout.png");
      height: 100%;
      width: 100%;
      display: grid;
      place-content: center;
      z-index: -1;
      opacity: 0.5;
    }
  }
}
