@import "config";
@import "button";
@import "nav";
@import "about";
@import "main";
@import "anchor";
@import "login";
@import "input";

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  font-family: "Spartan", sans-serif;
  user-select: none;
}

p,
h1 {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 5rem;
}
